$text-primary: rgb(255, 255, 255);
$secondary-color: rgb(0, 255, 255);
$background: rgb(18, 21, 46);


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: $background;
}

a {
    text-decoration: none;
    color: $text-primary;
}

li {
    list-style: none;
}

//Navbar css#################################################################

.navbar {
    position: relative;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    // border: 1px solid black;
}

.navbar-content:focus {
    display: flex;
    height: 60px;
    width: 150px;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
    // border: 1px solid black;
    &:hover {
        border: 2px solid $secondary-color;
        border-bottom-width: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        color: $secondary-color;
    }
}

.navbar-content {
    position: relative;
    display: flex;
    height: 60px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background: $background;
    color: $text-primary;
    border: 2px solid $secondary-color;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0px;
    transition: border-bottom-width 0.2s ease-in-out;
    // border: 1px solid black;
    &:hover {
        border: 2px solid $secondary-color;
        border-bottom-width: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        color: $secondary-color;
    }
}
